<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brainlevel">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BrainLevel">
        <activity
            android:name=".DeveloperActivity"
            android:exported="false" />
        <activity
            android:name=".QuizvocabularyActivity"
            android:exported="false" />
        <activity
            android:name=".QuizmathActivity"
            android:exported="false" />
        <activity
            android:name=".ResultActivity"
            android:exported="false" />
        <activity
            android:name=".MenuJigsawActivity"
            android:exported="false" />
        <activity
            android:name=".Jigsaw9Activity"
            android:exported="false" />
        <activity
            android:name=".Jigsaw4Activity"
            android:exported="false" />
        <activity
            android:name=".MatchFlowerActivity"
            android:exported="false" />
        <activity
            android:name=".MatchFruitActivity"
            android:exported="false" />
        <activity
            android:name=".QuizworldwideActivity"
            android:exported="false" />
        <activity android:name=".MatchAniActivity" />
        <activity android:name=".MenumatchingActivity" />
        <activity android:name=".MenujigsawActivity" />
        <activity android:name=".MenuquizActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>